@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: rgb(6, 6, 6);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* use center if you want vertical centering too */
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-grow: 1;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.messages {
  width: 300px;
}

.message {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
